body {
    margin: 0;
    padding: 0;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/login-cover.jpg");
    background-size: cover;
    color: #fff;
}

.login-card {
    width: 500px;
}
